body {
    font-family:"helvetica";
    background-color:#fff;
    margin:0px;
    color:#000000;
    /*color:#008cba;*/
    text-align:center;
    overflow-x: hidden;
}


a.button {
    display: inline-block;
    background: #9085a1;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color:#ffffff;
    cursor:pointer;
    margin-top:5px;
}

a.button.yes {
    background:#0000ff;
}

a.button.no {
    background:#ff0000;
}

a.button:hover {
    opacity: .8;
}

a.icon:hover {
    opacity:.8;
}

a.button.facebook {
    background: #3b5998;
}

a.button.twitter {
    background: #37c5d6;
}

a.button.submit {
    background: #2E0854;
}

.yesdiv {
    display:none;
}

.nodiv {
    display:none;
}

.question {
    display:block;
}

.buttons {
    display:block;
}

@media screen and (min-width: 500px) {

    body {
        width:800px;
        margin:0 auto;
        max-width:80%;
    }

    a.button {
        width: 190px;
        margin: 5px 5px;
        border-radius: 5px;
        cursor:pointer;
        border-radius:5px;
    }

    a.button.no {
        width:400px;
    }

    a.button.yes {
        width:400px;
    }

    h1 {
        font-size:2.5em;
    }